.footer {
    text-align: center; /* Zentriert den Text horizontal */
    font-size: 10px; /* Schriftgröße auf 10px einstellen */
    background-color: #333; /* Optional: Hintergrundfarbe passend zum Header */
    color: white; /* Textfarbe */
    padding: 20px 0; /* Abstand oben und unten */
    position: fixed; /* Fixiert den Footer unten */
    width: 100%; /* Footer über die gesamte Breite */
    bottom: 0; /* Footer immer am unteren Rand */
    opacity: 0; /* Anfangs unsichtbar */
    transition: opacity 0.5s ease; /* Sanftes Einblenden des Footers */
  }
  
  .footer.visible {
    opacity: 1; /* Footer wird sichtbar, wenn der Benutzer unten ist */
  }