.footer {
    text-align: center; 
    font-size: 10px; 
    background-color: #333; 
    color: white; 
    padding: 20px 0; 
    position: fixed; 
    width: 100%; 
    bottom: 0; 
    opacity: 0; 
    transition: opacity 0.5s ease; 
  }
  
  .footer.visible {
    opacity: 1; 
  }