/* Home.css */

#start {
    background-image: url('/public/images/bgr_home.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; /* Höhe der Sektion auf 100% des Viewports setzen */
    color: white; /* Textfarbe für bessere Lesbarkeit */
    padding: 20px; /* Optional: Padding für inneren Abstand */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  