/* Allgemeines Layout */
.section {
    padding: 30px; 
    text-align: center;
    background-color: #f4f4f4; 
  }
  
  /* Imprint Container */
  .imprint-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px; 
  }
  
  /* Imprint Box */
  .imprint-box {
    background-color: white; 
    border-radius: 8px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    padding: 15px; 
    width: 250px; 
    text-align: left; 
    transition: all 0.3s ease-in-out;
  }
  
  /* Imprint Box Titel */
  .imprint-box h2 {
    font-size: 1.1rem; 
    margin-bottom: 8px; 
  }
  
  /* Imprint Box Paragraph */
  .imprint-box p {
    margin: 4px 0; 
    font-size: 0.85rem; 
    color: #000; 
  }
  
  /* Imprint Box Links */
  .imprint-box a {
    color: #000; 
    text-decoration: none; 
    font-size: 0.9rem; 
  }
  
  .imprint-box a:hover {
    color: #555; 
  }
  
  /* Imprint Box Hover-Effekt */
  .imprint-box:hover {
    background-color: #e0e0e0; 
  }