@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

body {
  margin: 0;
  font-family: Arial, sans-serif;
  scroll-behavior: smooth; /* Alternativ für Browser-Smooth-Scrolling */
}

html {
  scroll-behavior: smooth;
}

/* Sektionen Styling */
.section {
  height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#start {
  background-color: #f9f9f9;
}

#shop {
  background-color: #e9ecef;
}

#kontakt {
  background-color: #dee2e6;
}

#impressum {
  background-color: #f8f9fa;
}