body {
  margin: 0;
  font-family: Arial, sans-serif;
  scroll-behavior: smooth; /* Alternativ für Browser-Smooth-Scrolling */
}

html {
  scroll-behavior: smooth;
}


/* Header Styling */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  z-index: 1000;
}

.header .logo {
  font-size: 1.5rem;
}

.header nav button {
  margin-left: 10px;
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  border-radius: 4px;
  font-size: 1rem;
}

.header nav button:hover {
  background-color: #0056b3;
}

.footer {
  text-align: center; /* Zentriert den Text horizontal */
  font-size: 10px; /* Schriftgröße auf 10px einstellen */
  background-color: #333; /* Optional: Hintergrundfarbe passend zum Header */
  color: white; /* Textfarbe */
  padding: 0px 0; /* Abstand oben und unten */
  position: fixed; /* Fixiert den Footer unten */
  width: 100%; /* Footer über die gesamte Breite */
  bottom: 0; /* Footer immer am unteren Rand */
}

/* Sektionen Styling */
.section {
  height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#start {
  background-color: #f9f9f9;
}

#shop {
  background-color: #e9ecef;
}

#kontakt {
  background-color: #dee2e6;
}

#impressum {
  background-color: #f8f9fa;
}
